body {
}

#header {
  margin-top: 20px;
}

.content {
  display: block;
}

.vertical_spacer {
  height: 50px;
  width: 100%;
}

#passa_logo {
  margin-bottom: 20px;
}

#motto {
  float: right;
  font-style: italic;
  margin-top: 20px;
}

#author {
  text-align: right;
}

@media (min-width: 992px)
.bs-sidebar.affix-bottom .bs-sidenav, .bs-sidebar.affix .bs-sidenav {
}


.bs-sidebar.affix {
    position: static;
}
@media (min-width:768px) {
    .bs-sidebar {
    padding-left: 20px;
}
}.bs-sidenav {
    margin-top: 20px;
    margin-bottom: 20px;
}
.bs-sidebar .nav>li>a {
    display: block;
    color: #999;
}
.bs-sidebar .nav>li>a:hover, .bs-sidebar .nav>li>a:focus {
    color: #4abe97;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #4abe97;
}
.bs-sidebar .nav>.active>a, .bs-sidebar .nav>.active:hover>a, .bs-sidebar .nav>.active:focus>a {
    color: #8be0c5;
    background-color: transparent;
    border-left: 2px solid #4abe97;
}
.bs-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px;
}
.bs-sidebar .nav .nav>li>a {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 30px;
}
.bs-sidebar .nav .nav>li>a:hover, .bs-sidebar .nav .nav>li>a:focus {
    padding-left: 29px;
}
.bs-sidebar .nav .nav>.active>a, .bs-sidebar .nav .nav>.active:hover>a, .bs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
    padding-left: 28px;
}
@media (min-width:992px) {
    .bs-sidebar .nav>.active>ul {
    display: block;
}
.bs-sidebar.affix, .bs-sidebar.affix-bottom {
    width: 213px;
}
.bs-sidebar.affix {
    position: fixed;
    top: 20px;
}
.bs-sidebar.affix-bottom {
    position: absolute;
}
.bs-sidebar.affix-bottom .bs-sidenav, .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
}
}@media (min-width:1200px) {
    .bs-sidebar.affix-bottom, .bs-sidebar.affix {
}
}


.bs-sidebar.affix-bottom, .bs-sidebar.affix {
}


.affix-top {
  position: static;
  margin-top:30px;
}

.affix {
  position: fixed;
  top:70px;
}

.bs-sidebar .nav>li>a {
  display: block;
  color: #999;
}

.nav-tabs > li > a {
  color: #999;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #4abe97;
}

.glyphicon {
  margin-bottom: 10px;
  margin-right: 10px;
}


#name {
  margin-top: 50px;
}

.soften {
  margin-top:20px;
  border-bottom: thin solid;
  color: #4abe97;
}

#footer {
  margin-top: 10px;
  font-size: 12px;
}

#logos img {
  max-width: 250px;
}

#workplace {
  text-align: center;
  font-size:27px;
  font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight:100;
  color: #4abe97;
}
